// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.

output "eDP-1" {
    mode "1920x1080@60.001" // Set resolution and refresh rate
    scale 1.14 // No scaling (use 2 for HiDPI)
}

