// Window Rules //

window-rule {
    match is-floating=true
    geometry-corner-radius 20
}

// Maximized Apps Rule
window-rule {
    match app-id="firefox"
    match app-id="librewolf"
    match app-id="zen"
    match app-id="brave"
    match app-id="helium"
    match app-id="org.qbittorrent.qBittorrent"
    match app-id="vlc"
    match app-id="com.stremio.stremio"
    open-maximized true
}

// Maximized with Blur
window-rule {
    match app-id="code"
    match app-id="codium"
    match app-id="spotify"
    match app-id="obsidian"
    open-maximized true
    opacity 0.88
}

// Floating Apps
window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
}

// Global Popups Blur
window-rule {
    match app-id="spotify"
    popups {
        geometry-corner-radius 12
        background-effect {
            blur true
        }
    }
}

// Picture-in-Picture //
window-rule {
    match title="(?i)^picture[- ]?in[- ]?picture"
    open-floating true
    opacity 1.0
}

// Layer Rules //
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

// Noctalia Blur
    layer-rule {
        match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
        background-effect {
            xray false
        }
    }

