// Window Rules //

window-rule {
    match is-floating=true
    geometry-corner-radius 20
}

// Opacity Rule
window-rule {
    match app-id=r#"^org\.gnome\..*"#
    match app-id="dev.noctalia.Noctalia"
    match app-id="org.cachyos.hello"
    match app-id="org.cachyos.KernelManager"
    match app-id="org.cachyos.cachyos-pi"
    match app-id="localsend"
    match app-id="thunderbird"
    match app-id="org.qbittorrent.qBittorrent"
    match app-id="btrfs-assistant"
    match app-id="io.ente.auth"
    match app-id="org.pwmt.zathura"
    match app-id="steam"
    match app-id="Spotify"
    match app-id="discord"
    opacity 0.88
}

// Maximized Apps Rule
window-rule {
    match app-id="firefox"
    match app-id="librewolf"
    match app-id="zen"
    match app-id="brave"
    match app-id="helium"
    match app-id="vlc"
    match app-id="com.stremio.stremio"
    open-maximized true
}

// Maximized with Blur
window-rule {
    match app-id="code"
    match app-id="codium"
    match app-id="obsidian"
    open-maximized true
    opacity 0.88
}

// Floating with Blur
window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="com.rafaelmardojai.Blanket"
    open-floating true
    opacity 0.88
}

// Picture-in-Picture //
window-rule {
    match title="(?i)^picture[- ]?in[- ]?picture"
    open-floating true
    opacity 1.0
}

// Layer Rules //
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

// Noctalia Blur
    layer-rule {
        match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
        background-effect {
            xray false
        }
    }

